<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      data-bin="app"
      content="width=device-width, initial-scale=1"
    />
    <!-- TODO: css stylesheets -->

    <title>{{page_title}}</title>
    
    </head>
  <body>
    <div>
        <!-- TODO: header logo -->
        <!-- loop of divs for each dest -->
        {% for link in navbar %}
        <div>
            <a href="{{ link }}">
                {{ link }}
            </a>
        </div>
        {% endfor %}
    </div>
    {{ page_content }}
  </body>
</html>